
    <h2 class="mt-4">Final da Taça Carpina de Futsal - Comércio e Indústria 2017</h2>
    <p>Acompanhe, AO VIVO, a transmissão da final da Taça Carpina de Futsal - 
      Comércio e Indústria 2017, com a narração de Romualdo Marques e
       comentários do grande Zé do Carmo. A disputa será apertada
        entre as equipes do Js Especiarias e Panela Cheia.
        Estaremos conectados com você através da página oficial
         Fb/SigaComunic e pelo nosso site.
      </p>


      <p>Acompanhe, AO VIVO, a transmissão da final da Taça Carpina de Futsal - 
          Comércio e Indústria 2017, com a narração de Romualdo Marques e
           comentários do grande Zé do Carmo. A disputa será apertada
            entre as equipes do Js Especiarias e Panela Cheia.
            Estaremos conectados com você através da página oficial
             Fb/SigaComunic e pelo nosso site.
          </p>
   
